<div class="hero-container">
    <h3>All Courses</h3>
    <div class="search-bar">
        <input type="search" value="">
        <input type="button" value="search">
    </div>

    <div class="grid-container">
        <div class="card">
            <h1>JAVA</h1>
        </div>
        <div class="card1"> <h1>Angular</h1></div>
        <div class="card2"> <h1>Python</h1></div>  
        <div class="card3"> <h1>React</h1></div>
        <div class="card1"> <h1>React-Native</h1></div>
        <div class="card2"> <h1>DataBase</h1></div>
        <div class="card3"> <h1>Cloud</h1></div>
        <div class="card4"> <h1>DataScience</h1></div>
    </div>


</div>
