
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          TODO
        </mat-panel-title>
        <mat-panel-description>
         Add Your Task
          <mat-icon>add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Todo Title">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Task Despcription">
        </mat-form-field>
      </p>

  
    </mat-expansion-panel>
    
</mat-accordion>